@using AspThesisPro.Models;
@using AspThesisPro.Models.Enum;
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
}

<div class="link" style="line-height: 2.5rem;">

    @if (SignInManager.IsSignedIn(User) && user != null)
    {
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @user.DisplayName!</a>

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Admin.ToString()))
        {
                <a asp-area="Manage" asp-controller="Users" asp-action="Index">Users</a>
                <a asp-area="Manage" asp-controller="Subjects" asp-action="Index">Subjects</a>
        }
        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Admin.ToString()))
        {
                <a asp-area="Manage" asp-controller="Subjects" asp-action="Index">Products</a>
        }
            <form class="form-inline"
              asp-area="Identity" asp-page="/Account/Logout"
              method="post">
                <button type="submit" class="nav-link btn btn-primary">Logout</button>
            </form>
    }
    else
    {
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    }

</div>